In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
s = pd.Series([1,3,5,np.nan,6,8])

In [31]:
dates = pd.date_range('20121011',periods=6)

In [32]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=list('ABCD'))
df2 = pd.DataFrame({'A': 1,
                    'B': pd.Timestamp('20121209'),
                    'C': pd.Series(1,index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype= 'int32'),
                    'E': pd.Categorical(["test","train","test","train"]),
                    'F': 'foo'})

In [33]:
df2.describe()

       A  C  D
count  4  4  4
mean   1  1  3
std    0  0  0
min    1  1  3
25%    1  1  3
50%    1  1  3
75%    1  1  3
max    1  1  3

[8 rows x 3 columns]

In [34]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2012-12-09 00:00:00,2012-12-09 00:00:00,2012-12-09 00:00:00,2012-12-09 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [35]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2012-10-16 -1.905951 -1.389693  0.230668  0.001499
2012-10-15  0.615298  0.991932 -0.085389  0.472937
2012-10-14  1.200674 -0.702871  0.954080 -0.076630
2012-10-13  0.484154  0.071005 -0.096129  2.302182
2012-10-12  0.808629 -0.418405 -1.366744  1.544643
2012-10-11  0.342424 -0.403151 -0.422623  0.252563

[6 rows x 4 columns]

### sort(columns, axis, ascending, inplace, kind, na_position)

In [36]:
df.sort(columns='B',axis=0,ascending=True,)

                   A         B         C         D
2012-10-16 -1.905951 -1.389693  0.230668  0.001499
2012-10-14  1.200674 -0.702871  0.954080 -0.076630
2012-10-12  0.808629 -0.418405 -1.366744  1.544643
2012-10-11  0.342424 -0.403151 -0.422623  0.252563
2012-10-13  0.484154  0.071005 -0.096129  2.302182
2012-10-15  0.615298  0.991932 -0.085389  0.472937

[6 rows x 4 columns]

In [37]:
df.sort

<bound method DataFrame.sort of                    A         B         C         D
2012-10-11  0.342424 -0.403151 -0.422623  0.252563
2012-10-12  0.808629 -0.418405 -1.366744  1.544643
2012-10-13  0.484154  0.071005 -0.096129  2.302182
2012-10-14  1.200674 -0.702871  0.954080 -0.076630
2012-10-15  0.615298  0.991932 -0.085389  0.472937
2012-10-16 -1.905951 -1.389693  0.230668  0.001499

[6 rows x 4 columns]>

In [38]:
df['B']

2012-10-11   -0.403151
2012-10-12   -0.418405
2012-10-13    0.071005
2012-10-14   -0.702871
2012-10-15    0.991932
2012-10-16   -1.389693
Freq: D, Name: B, dtype: float64

In [39]:
df[0:3]

                   A         B         C         D
2012-10-11  0.342424 -0.403151 -0.422623  0.252563
2012-10-12  0.808629 -0.418405 -1.366744  1.544643
2012-10-13  0.484154  0.071005 -0.096129  2.302182

[3 rows x 4 columns]

In [40]:
df[dates[0]:dates[3]]

                   A         B         C         D
2012-10-11  0.342424 -0.403151 -0.422623  0.252563
2012-10-12  0.808629 -0.418405 -1.366744  1.544643
2012-10-13  0.484154  0.071005 -0.096129  2.302182
2012-10-14  1.200674 -0.702871  0.954080 -0.076630

[4 rows x 4 columns]

In [41]:
df.loc[dates[0]]

A    0.342424
B   -0.403151
C   -0.422623
D    0.252563
Name: 2012-10-11 00:00:00, dtype: float64

In [42]:
df.loc[:,['A','B']]

                   A         B
2012-10-11  0.342424 -0.403151
2012-10-12  0.808629 -0.418405
2012-10-13  0.484154  0.071005
2012-10-14  1.200674 -0.702871
2012-10-15  0.615298  0.991932
2012-10-16 -1.905951 -1.389693

[6 rows x 2 columns]

In [43]:
df.iloc[0:3,0:3]

                   A         B         C
2012-10-11  0.342424 -0.403151 -0.422623
2012-10-12  0.808629 -0.418405 -1.366744
2012-10-13  0.484154  0.071005 -0.096129

[3 rows x 3 columns]

In [44]:
df.at[dates[0],'A']

0.34242393558316475

In [45]:
df.iloc[3:5]

                   A         B         C         D
2012-10-14  1.200674 -0.702871  0.954080 -0.076630
2012-10-15  0.615298  0.991932 -0.085389  0.472937

[2 rows x 4 columns]

In [46]:
df[df.A > 0]

                   A         B         C         D
2012-10-11  0.342424 -0.403151 -0.422623  0.252563
2012-10-12  0.808629 -0.418405 -1.366744  1.544643
2012-10-13  0.484154  0.071005 -0.096129  2.302182
2012-10-14  1.200674 -0.702871  0.954080 -0.076630
2012-10-15  0.615298  0.991932 -0.085389  0.472937

[5 rows x 4 columns]

In [47]:
df[df>0]

                   A         B         C         D
2012-10-11  0.342424       NaN       NaN  0.252563
2012-10-12  0.808629       NaN       NaN  1.544643
2012-10-13  0.484154  0.071005       NaN  2.302182
2012-10-14  1.200674       NaN  0.954080       NaN
2012-10-15  0.615298  0.991932       NaN  0.472937
2012-10-16       NaN       NaN  0.230668  0.001499

[6 rows x 4 columns]

In [48]:
df['E']= ['one','two','three','four','five','six']

In [49]:
df[df.E.isin(['one','two'])]

                   A         B         C         D    E
2012-10-11  0.342424 -0.403151 -0.422623  0.252563  one
2012-10-12  0.808629 -0.418405 -1.366744  1.544643  two

[2 rows x 5 columns]

In [50]:
df.loc[:,'D'] = np.array([5] * len(df))

In [51]:
df

                   A         B         C  D      E
2012-10-11  0.342424 -0.403151 -0.422623  5    one
2012-10-12  0.808629 -0.418405 -1.366744  5    two
2012-10-13  0.484154  0.071005 -0.096129  5  three
2012-10-14  1.200674 -0.702871  0.954080  5   four
2012-10-15  0.615298  0.991932 -0.085389  5   five
2012-10-16 -1.905951 -1.389693  0.230668  5    six

[6 rows x 5 columns]

In [55]:
df

                   A         B         C  D      E
2012-10-11  0.342424 -0.403151 -0.422623  5    one
2012-10-12  0.808629 -0.418405 -1.366744  5    two
2012-10-13  0.484154  0.071005 -0.096129  5  three
2012-10-14  1.200674 -0.702871  0.954080  5   four
2012-10-15  0.615298  0.991932 -0.085389  5   five
2012-10-16 -1.905951 -1.389693  0.230668  5    six

[6 rows x 5 columns]

In [ ]:
df1 = df.copy

In [ ]:
df1 = df.reindex(index= dates[0:4], columns= list(df.columns) + ['F'])

In [ ]:
df1

In [ ]:
df1.loc[dates[0]:dates[2],'F'] = 11

In [ ]:
df1

In [ ]:
test = df1[:]

### dropna(axis, how, inplace, subset, threshold)

In [ ]:
test.dropna(axis=0, how='all',inplace=True,subset=['B','F'])

In [28]:
test

NameError: name 'test' is not defined

In [ ]:
df.mean(1)

In [ ]:
df = pd.DataFrame(np.random.randn(10,5))

In [ ]:
pieces = [df[:3],df[5:8]]

In [ ]:
pd.concat(pieces)

In [ ]:
df1 = pd.DataFrame({'A': [1,2,3,4,5], 'B': [2,3,4,5,6]},index=[0,1,2,3,4])

In [ ]:
df2 = pd.DataFrame({'A': [1,2,3,4,5], 'B': [10,11,12,14,15]},index= [10,11,12,13,15])

In [ ]:
pd.concat([df1,df2],keys=['x','y','z'])

In [53]:
pieces

NameError: name 'pieces' is not defined