In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
dates = pd.date_range('20121011',periods=6)

In [13]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=list('ABCD'))
df2 = pd.DataFrame({'A': 1,
                    'B': pd.Timestamp('20121209'),
                    'C': pd.Series(1,index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype= 'int32'),
                    'E': pd.Categorical(["test","train","test","train"]),
                    'F': 'foo'})

In [17]:
df2.describe()

       A  C  D
count  4  4  4
mean   1  1  3
std    0  0  0
min    1  1  3
25%    1  1  3
50%    1  1  3
75%    1  1  3
max    1  1  3

[8 rows x 3 columns]

In [18]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2012-12-09 00:00:00,2012-12-09 00:00:00,2012-12-09 00:00:00,2012-12-09 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [29]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2012-10-16 -0.826303 -1.025585 -1.156102 -1.940987
2012-10-15 -0.688476  0.106206  1.491516 -0.457014
2012-10-14 -0.608588  2.935137 -0.872910  1.977347
2012-10-13 -0.501567 -0.979041  1.170985 -2.197609
2012-10-12  1.150185  1.035632  0.255225 -0.222749
2012-10-11  1.025978  0.094510  1.831977 -0.145849

[6 rows x 4 columns]

### sort(columns, axis, ascending, inplace, kind, na_position)

In [26]:
df.sort(columns='B',axis=0,ascending=True,)

                   A         B         C         D
2012-10-16 -0.826303 -1.025585 -1.156102 -1.940987
2012-10-13 -0.501567 -0.979041  1.170985 -2.197609
2012-10-11  1.025978  0.094510  1.831977 -0.145849
2012-10-15 -0.688476  0.106206  1.491516 -0.457014
2012-10-12  1.150185  1.035632  0.255225 -0.222749
2012-10-14 -0.608588  2.935137 -0.872910  1.977347

[6 rows x 4 columns]

In [27]:
df.sort

<bound method DataFrame.sort of                    A         B         C         D
2012-10-11  1.025978  0.094510  1.831977 -0.145849
2012-10-12  1.150185  1.035632  0.255225 -0.222749
2012-10-13 -0.501567 -0.979041  1.170985 -2.197609
2012-10-14 -0.608588  2.935137 -0.872910  1.977347
2012-10-15 -0.688476  0.106206  1.491516 -0.457014
2012-10-16 -0.826303 -1.025585 -1.156102 -1.940987

[6 rows x 4 columns]>

In [30]:
df['B']

2012-10-11    0.094510
2012-10-12    1.035632
2012-10-13   -0.979041
2012-10-14    2.935137
2012-10-15    0.106206
2012-10-16   -1.025585
Freq: D, Name: B, dtype: float64

In [31]:
df[0:3]

                   A         B         C         D
2012-10-11  1.025978  0.094510  1.831977 -0.145849
2012-10-12  1.150185  1.035632  0.255225 -0.222749
2012-10-13 -0.501567 -0.979041  1.170985 -2.197609

[3 rows x 4 columns]

In [32]:
df[dates[0]:dates[3]]

                   A         B         C         D
2012-10-11  1.025978  0.094510  1.831977 -0.145849
2012-10-12  1.150185  1.035632  0.255225 -0.222749
2012-10-13 -0.501567 -0.979041  1.170985 -2.197609
2012-10-14 -0.608588  2.935137 -0.872910  1.977347

[4 rows x 4 columns]

In [33]:
df.loc[dates[0]]

A    1.025978
B    0.094510
C    1.831977
D   -0.145849
Name: 2012-10-11 00:00:00, dtype: float64

In [37]:
df.loc[:,['A','B']]

                   A         B
2012-10-11  1.025978  0.094510
2012-10-12  1.150185  1.035632
2012-10-13 -0.501567 -0.979041
2012-10-14 -0.608588  2.935137
2012-10-15 -0.688476  0.106206
2012-10-16 -0.826303 -1.025585

[6 rows x 2 columns]

In [39]:
df.iloc[0:3,0:3]

                   A         B         C
2012-10-11  1.025978  0.094510  1.831977
2012-10-12  1.150185  1.035632  0.255225
2012-10-13 -0.501567 -0.979041  1.170985

[3 rows x 3 columns]

In [40]:
df.at[dates[0],'A']

1.02597796644044

In [43]:
df.iloc[3:5]

                   A         B         C         D
2012-10-14 -0.608588  2.935137 -0.872910  1.977347
2012-10-15 -0.688476  0.106206  1.491516 -0.457014

[2 rows x 4 columns]

In [44]:
df[df.A > 0]

                   A         B         C         D
2012-10-11  1.025978  0.094510  1.831977 -0.145849
2012-10-12  1.150185  1.035632  0.255225 -0.222749

[2 rows x 4 columns]

In [45]:
df[df>0]

                   A         B         C         D
2012-10-11  1.025978  0.094510  1.831977       NaN
2012-10-12  1.150185  1.035632  0.255225       NaN
2012-10-13       NaN       NaN  1.170985       NaN
2012-10-14       NaN  2.935137       NaN  1.977347
2012-10-15       NaN  0.106206  1.491516       NaN
2012-10-16       NaN       NaN       NaN       NaN

[6 rows x 4 columns]

In [47]:
df['E']= ['one','two','three','four','five','six']

In [51]:
df[df.E.isin(['one','two'])]

                   A         B         C         D    E
2012-10-11  1.025978  0.094510  1.831977 -0.145849  one
2012-10-12  1.150185  1.035632  0.255225 -0.222749  two

[2 rows x 5 columns]

In [53]:
df.loc[:,'D'] = np.array([5] * len(df))

In [54]:
df

                   A         B         C  D      E
2012-10-11  1.025978  0.094510  1.831977  5    one
2012-10-12  1.150185  1.035632  0.255225  5    two
2012-10-13 -0.501567 -0.979041  1.170985  5  three
2012-10-14 -0.608588  2.935137 -0.872910  5   four
2012-10-15 -0.688476  0.106206  1.491516  5   five
2012-10-16 -0.826303 -1.025585 -1.156102  5    six

[6 rows x 5 columns]

In [55]:
df1

NameError: name 'df1' is not defined

In [56]:
df1 = df.copy

In [87]:
df1 = df.reindex(index= dates[0:4], columns= list(df.columns) + ['F'])

In [88]:
df1

                   A         B         C  D      E   F
2012-10-11  1.025978  0.094510  1.831977  5    one NaN
2012-10-12  1.150185  1.035632  0.255225  5    two NaN
2012-10-13 -0.501567 -0.979041  1.170985  5  three NaN
2012-10-14 -0.608588  2.935137 -0.872910  5   four NaN

[4 rows x 6 columns]

In [93]:
df1.loc[dates[0]:dates[2],'F'] = 11

In [94]:
df1

                   A         B         C  D      E   F
2012-10-11  1.025978  0.094510  1.831977  5    one  11
2012-10-12  1.150185  1.035632  0.255225  5    two  11
2012-10-13 -0.501567 -0.979041  1.170985  5  three  11
2012-10-14 -0.608588  2.935137 -0.872910  5   four NaN

[4 rows x 6 columns]

In [133]:
test = df1[:]

### dropna(axis, how, inplace, subset, threshold)

In [131]:
test.dropna(axis=0, how='all',inplace=True,subset=['B','F'])

In [132]:
test

                   A         B         C  D      E   F
2012-10-11  1.025978  0.094510  1.831977  5    one  11
2012-10-12  1.150185  1.035632  0.255225  5    two  11
2012-10-13 -0.501567 -0.979041  1.170985  5  three  11

[3 rows x 6 columns]

In [135]:
df.mean(1)

2012-10-11    1.988116
2012-10-12    1.860260
2012-10-13    1.172594
2012-10-14    1.613410
2012-10-15    1.477312
2012-10-16    0.498003
Freq: D, dtype: float64

In [136]:
df = pd.DataFrame(np.random.randn(10,5))

In [144]:
pieces = [df[:3],df[5:8]]

In [145]:
pd.concat(pieces)

          0         1         2         3         4
0  0.537566 -0.011694  1.173516 -1.443907 -0.751842
1 -1.647372 -0.748584  1.154282 -0.952705  0.315623
2 -1.373803  0.006064 -1.151676 -0.443688  0.566245
5 -0.387774 -0.122755  1.781460  0.747759  0.811629
6  0.644694 -1.032553 -0.621941 -1.843983 -0.398625
7 -2.040177 -0.888999  0.563937 -1.389204  0.399687

[6 rows x 5 columns]

In [150]:
df1 = pd.DataFrame({'A': [1,2,3,4,5], 'B': [2,3,4,5,6]},index=[0,1,2,3,4])

In [151]:
df2 = pd.DataFrame({'A': [1,2,3,4,5], 'B': [10,11,12,14,15]},index= [10,11,12,13,15])

In [155]:
pd.concat([df1,df2],keys=['x','y','z'])

      A   B
x 0   1   2
  1   2   3
  2   3   4
  3   4   5
  4   5   6
y 10  1  10
  11  2  11
  12  3  12
  13  4  14
  15  5  15

[10 rows x 2 columns]