In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [59]:
s = pd.Series([1,3,5,np.nan,6,8])

In [60]:
dates = pd.date_range('20121011',periods=6)

In [61]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=list('ABCD'))
df2 = pd.DataFrame({'A': 1,
                    'B': pd.Timestamp('20121209'),
                    'C': pd.Series(1,index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype= 'int32'),
                    'E': pd.Categorical(["test","train","test","train"]),
                    'F': 'foo'})

In [62]:
df2.describe()

       A  C  D
count  4  4  4
mean   1  1  3
std    0  0  0
min    1  1  3
25%    1  1  3
50%    1  1  3
75%    1  1  3
max    1  1  3

[8 rows x 3 columns]

In [63]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2012-12-09 00:00:00,2012-12-09 00:00:00,2012-12-09 00:00:00,2012-12-09 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [64]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2012-10-16  0.435172 -1.142791 -0.890486 -1.940987
2012-10-15  1.014091 -0.099907  0.697485  0.197782
2012-10-14 -2.263782  0.685659 -1.743518 -0.203282
2012-10-13  0.224242  0.602250  0.202450 -1.100560
2012-10-12  0.382369 -0.656363 -1.590964  0.252743
2012-10-11  1.629087  0.184613 -0.413143 -0.020178

[6 rows x 4 columns]

### sort(columns, axis, ascending, inplace, kind, na_position)

In [65]:
df.sort(columns='B',axis=0,ascending=True,)

                   A         B         C         D
2012-10-16  0.435172 -1.142791 -0.890486 -1.940987
2012-10-12  0.382369 -0.656363 -1.590964  0.252743
2012-10-15  1.014091 -0.099907  0.697485  0.197782
2012-10-11  1.629087  0.184613 -0.413143 -0.020178
2012-10-13  0.224242  0.602250  0.202450 -1.100560
2012-10-14 -2.263782  0.685659 -1.743518 -0.203282

[6 rows x 4 columns]

In [66]:
df.sort

<bound method DataFrame.sort of                    A         B         C         D
2012-10-11  1.629087  0.184613 -0.413143 -0.020178
2012-10-12  0.382369 -0.656363 -1.590964  0.252743
2012-10-13  0.224242  0.602250  0.202450 -1.100560
2012-10-14 -2.263782  0.685659 -1.743518 -0.203282
2012-10-15  1.014091 -0.099907  0.697485  0.197782
2012-10-16  0.435172 -1.142791 -0.890486 -1.940987

[6 rows x 4 columns]>

In [67]:
df['B']

2012-10-11    0.184613
2012-10-12   -0.656363
2012-10-13    0.602250
2012-10-14    0.685659
2012-10-15   -0.099907
2012-10-16   -1.142791
Freq: D, Name: B, dtype: float64

In [68]:
df[0:3]

                   A         B         C         D
2012-10-11  1.629087  0.184613 -0.413143 -0.020178
2012-10-12  0.382369 -0.656363 -1.590964  0.252743
2012-10-13  0.224242  0.602250  0.202450 -1.100560

[3 rows x 4 columns]

In [69]:
df[dates[0]:dates[3]]

                   A         B         C         D
2012-10-11  1.629087  0.184613 -0.413143 -0.020178
2012-10-12  0.382369 -0.656363 -1.590964  0.252743
2012-10-13  0.224242  0.602250  0.202450 -1.100560
2012-10-14 -2.263782  0.685659 -1.743518 -0.203282

[4 rows x 4 columns]

In [70]:
df.loc[dates[0]]

A    1.629087
B    0.184613
C   -0.413143
D   -0.020178
Name: 2012-10-11 00:00:00, dtype: float64

In [71]:
df.loc[:,['A','B']]

                   A         B
2012-10-11  1.629087  0.184613
2012-10-12  0.382369 -0.656363
2012-10-13  0.224242  0.602250
2012-10-14 -2.263782  0.685659
2012-10-15  1.014091 -0.099907
2012-10-16  0.435172 -1.142791

[6 rows x 2 columns]

In [72]:
df.iloc[0:3,0:3]

                   A         B         C
2012-10-11  1.629087  0.184613 -0.413143
2012-10-12  0.382369 -0.656363 -1.590964
2012-10-13  0.224242  0.602250  0.202450

[3 rows x 3 columns]

In [73]:
df.at[dates[0],'A']

1.6290870555679988

In [74]:
df.iloc[3:5]

                   A         B         C         D
2012-10-14 -2.263782  0.685659 -1.743518 -0.203282
2012-10-15  1.014091 -0.099907  0.697485  0.197782

[2 rows x 4 columns]

In [75]:
df[df.A > 0]

                   A         B         C         D
2012-10-11  1.629087  0.184613 -0.413143 -0.020178
2012-10-12  0.382369 -0.656363 -1.590964  0.252743
2012-10-13  0.224242  0.602250  0.202450 -1.100560
2012-10-15  1.014091 -0.099907  0.697485  0.197782
2012-10-16  0.435172 -1.142791 -0.890486 -1.940987

[5 rows x 4 columns]

In [76]:
df[df>0]

                   A         B         C         D
2012-10-11  1.629087  0.184613       NaN       NaN
2012-10-12  0.382369       NaN       NaN  0.252743
2012-10-13  0.224242  0.602250  0.202450       NaN
2012-10-14       NaN  0.685659       NaN       NaN
2012-10-15  1.014091       NaN  0.697485  0.197782
2012-10-16  0.435172       NaN       NaN       NaN

[6 rows x 4 columns]

In [77]:
df['E']= ['one','two','three','four','five','six']

In [78]:
df[df.E.isin(['one','two'])]

                   A         B         C         D    E
2012-10-11  1.629087  0.184613 -0.413143 -0.020178  one
2012-10-12  0.382369 -0.656363 -1.590964  0.252743  two

[2 rows x 5 columns]

In [79]:
df.loc[:,'D'] = np.array([5] * len(df))

In [80]:
df

                   A         B         C  D      E
2012-10-11  1.629087  0.184613 -0.413143  5    one
2012-10-12  0.382369 -0.656363 -1.590964  5    two
2012-10-13  0.224242  0.602250  0.202450  5  three
2012-10-14 -2.263782  0.685659 -1.743518  5   four
2012-10-15  1.014091 -0.099907  0.697485  5   five
2012-10-16  0.435172 -1.142791 -0.890486  5    six

[6 rows x 5 columns]

In [81]:
df

                   A         B         C  D      E
2012-10-11  1.629087  0.184613 -0.413143  5    one
2012-10-12  0.382369 -0.656363 -1.590964  5    two
2012-10-13  0.224242  0.602250  0.202450  5  three
2012-10-14 -2.263782  0.685659 -1.743518  5   four
2012-10-15  1.014091 -0.099907  0.697485  5   five
2012-10-16  0.435172 -1.142791 -0.890486  5    six

[6 rows x 5 columns]

In [82]:
df1 = df.copy

In [83]:
df1 = df.reindex(index= dates[0:4], columns= list(df.columns) + ['F'])

In [84]:
df1

                   A         B         C  D      E   F
2012-10-11  1.629087  0.184613 -0.413143  5    one NaN
2012-10-12  0.382369 -0.656363 -1.590964  5    two NaN
2012-10-13  0.224242  0.602250  0.202450  5  three NaN
2012-10-14 -2.263782  0.685659 -1.743518  5   four NaN

[4 rows x 6 columns]

In [85]:
df1.loc[dates[0]:dates[2],'F'] = 11

In [86]:
df1

                   A         B         C  D      E   F
2012-10-11  1.629087  0.184613 -0.413143  5    one  11
2012-10-12  0.382369 -0.656363 -1.590964  5    two  11
2012-10-13  0.224242  0.602250  0.202450  5  three  11
2012-10-14 -2.263782  0.685659 -1.743518  5   four NaN

[4 rows x 6 columns]

In [87]:
test = df1[:]

### dropna(axis, how, inplace, subset, threshold)

In [88]:
test.dropna(axis=0, how='all',inplace=True,subset=['B','F'])

In [89]:
test

                   A         B         C  D      E   F
2012-10-11  1.629087  0.184613 -0.413143  5    one  11
2012-10-12  0.382369 -0.656363 -1.590964  5    two  11
2012-10-13  0.224242  0.602250  0.202450  5  three  11
2012-10-14 -2.263782  0.685659 -1.743518  5   four NaN

[4 rows x 6 columns]

In [90]:
df.mean(1)

2012-10-11    1.600139
2012-10-12    0.783760
2012-10-13    1.507236
2012-10-14    0.419590
2012-10-15    1.652917
2012-10-16    0.850474
Freq: D, dtype: float64

In [91]:
df = pd.DataFrame(np.random.randn(10,5))

In [92]:
pieces = [df[:3],df[5:8]]

In [93]:
pd.concat(pieces)

          0         1         2         3         4
0 -0.309611 -0.576440  0.059261  0.257339  1.906764
1  1.217016  0.259339 -1.420509  0.307885 -1.309865
2  0.493065 -1.491218 -1.116332 -1.101412  0.901365
5  0.643053  1.050598 -0.149735  0.470044  0.465056
6 -1.092290  1.411690  0.663958  0.300809 -1.165811
7  1.806841  0.704050  1.746535 -0.234482  0.699518

[6 rows x 5 columns]

In [94]:
df1 = pd.DataFrame({'A': [1,2,3,4,5], 'B': [2,3,4,5,6]},index=[0,1,2,3,4])

In [95]:
df2 = pd.DataFrame({'A': [1,2,3,4,5], 'B': [10,11,12,14,15]},index= [10,11,12,13,15])

In [96]:
pd.concat([df1,df2],keys=['x','y','z'])

      A   B
x 0   1   2
  1   2   3
  2   3   4
  3   4   5
  4   5   6
y 10  1  10
  11  2  11
  12  3  12
  13  4  14
  15  5  15

[10 rows x 2 columns]

In [129]:
df1 = pd.DataFrame({'A': ['A0','A1','A2','A3'], 'B':['B0','B1','B2','B3'], 
                    'C': ['C0','C1','C2','C3'], 'D':['D0','D1','D2','D3']}, index=[0,1,2,3])
df2 = pd.DataFrame({'A': ['A0','A5','A6','A7'], 'B':['B0','B5','B6','B7'], 
                    'C': ['C0','C5','C6','C7'], 'D':['D0','D5','D6','D7']}, index=[0,5,6,7])
df3 = pd.DataFrame({'A': ['A0','A9','A10','A11'], 'B':['B0','B9','B10','B11'], 
                    'C': ['C0','C9','C10','C11'], 'D':['D0','D9','D10','D11']}, index=[0,9,10,11])

In [136]:
test = pd.concat([df1,df2], keys = ['x','y']).ix['x']

In [138]:
df4 = pd.DataFrame({'B':['B4','B5','B6','B7'],'D':['D2','D3','D4','D5'],
                   'F':['F4','F5','F6','F7']}, index = [2,4,6,7])

In [151]:
pd.concat([df1,df4],axis=0,join='outer')

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B4  NaN  D2   F4
4  NaN  B5  NaN  D3   F5
6  NaN  B6  NaN  D4   F6
7  NaN  B7  NaN  D5   F7

[8 rows x 5 columns]

In [141]:
pd.concat([df1,df4],axis=0)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B4  NaN  D2   F4
4  NaN  B5  NaN  D3   F5
6  NaN  B6  NaN  D4   F6
7  NaN  B7  NaN  D5   F7

[8 rows x 5 columns]

In [145]:
pd.concat([df1,df2],join= 'outer')

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A0  B0  C0  D0
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

[8 rows x 4 columns]

In [148]:
pd.concat([df1,df2],join= 'inner')

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A0  B0  C0  D0
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

[8 rows x 4 columns]