## Group by in Pandas

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.DataFrame({'a':['foo','bar','foo','bar','foo','bar','foo','foo']
                  ,'b': ['one','one','two','three','two','two','one','three']
                  , 'c': np.random.randn(8), 'd': np.random.randn(8)})

In [4]:
df

     a      b         c         d
0  foo    one  0.685442 -0.573695
1  bar    one  1.253264 -0.203965
2  foo    two  0.107150 -2.331904
3  bar  three -1.583933  1.827144
4  foo    two -0.259857  1.448990
5  bar    two -0.196060  0.513171
6  foo    one -0.397415 -0.888866
7  foo  three  1.483852 -1.173036

[8 rows x 4 columns]

In [5]:
grouped1 = df.groupby('b')

In [6]:
grouped1.groups

{'one': [0, 1, 6], 'three': [3, 7], 'two': [2, 4, 5]}

In [7]:
s1 = pd.Series([['bar','bar','baz','baz','foo','foo','quix','quix'], 
                ['one','two','one','two','one','two','one','two']])
index = pd.MultiIndex.from_arrays(s1, names = ['first','second'])
df1 = pd.DataFrame({'val': np.random.randn(8)},index = index)

In [8]:
df1

                   val
first second
bar   one     0.323728
      two    -1.267129
baz   one    -0.307610
      two    -0.297858
foo   one     1.645579
      two    -1.405351
quix  one     0.107755
      two     1.429144

[8 rows x 1 columns]

In [9]:
df1.groupby(level='first').groups

{'bar': [('bar', 'one'), ('bar', 'two')],
 'baz': [('baz', 'one'), ('baz', 'two')],
 'foo': [('foo', 'one'), ('foo', 'two')],
 'quix': [('quix', 'one'), ('quix', 'two')]}

In [10]:
test = df1.groupby(level='first')

In [11]:
for name, group in df1.groupby(level = 'second'):
    print name
    print group

one
                   val
first second
bar   one     0.323728
baz   one    -0.307610
foo   one     1.645579
quix  one     0.107755

[4 rows x 1 columns]
two
                   val
first second
bar   two    -1.267129
baz   two    -0.297858
foo   two    -1.405351
quix  two     1.429144

[4 rows x 1 columns]

In [12]:
df1.groupby(level='first').get_group('foo')

                   val
first second
foo   one     1.645579
      two    -1.405351

[2 rows x 1 columns]

In [13]:
df

     a      b         c         d
0  foo    one  0.685442 -0.573695
1  bar    one  1.253264 -0.203965
2  foo    two  0.107150 -2.331904
3  bar  three -1.583933  1.827144
4  foo    two -0.259857  1.448990
5  bar    two -0.196060  0.513171
6  foo    one -0.397415 -0.888866
7  foo  three  1.483852 -1.173036

[8 rows x 4 columns]

In [19]:
def get_letter(letter):
    if letter.lower() in 'aeiou': return 'Passed'
    else: return 'Fail'
df.groupby(get_letter,axis=1).get_group('Passed')

     a
0  foo
1  bar
2  foo
3  bar
4  foo
5  bar
6  foo
7  foo

[8 rows x 1 columns]

In [29]:
result = df.groupby('a')
result.describe()

                  c         d
a
bar count  3.000000  3.000000
    mean  -0.175577  0.712116
    std    1.418709  1.030065
    min   -1.583933 -0.203965
    25%   -0.889997  0.154603
    50%   -0.196060  0.513171
    75%    0.528602  1.170157
    max    1.253264  1.827144
foo count  5.000000  5.000000
    mean   0.323834 -0.703702
    std    0.772051  1.374462
    min   -0.397415 -2.331904
    25%   -0.259857 -1.173036
    50%    0.107150 -0.888866
    75%    0.685442 -0.573695
    max    1.483852  1.448990

[16 rows x 2 columns]

In [28]:
result.aggregate(np.sum)

            c         d
a
bar -0.526730  2.136349
foo  1.619171 -3.518512

[2 rows x 2 columns]

In [32]:
df.groupby('a', as_index= False)

In [37]:
result['d'].agg({'result1': np.sum, 'result_2': np.mean})

     result_2   result1
a
bar  0.712116  2.136349
foo -0.703702 -3.518512

[2 rows x 2 columns]

In [46]:
index = pd.date_range('20120201',periods=1100)

In [47]:
index

<class 'pandas.tseries.index.DatetimeIndex'>
[2012-02-01, ..., 2015-02-04]
Length: 1100, Freq: D, Timezone: None

In [50]:
ts = pd.Series(np.random.normal(0.5,2,1100), index=index)

In [52]:
ts1 = pd.rolling_mean(ts, 100,100).dropna()

In [53]:
ts1

2012-05-10    0.278622
2012-05-11    0.317044
2012-05-12    0.315995
2012-05-13    0.299025
2012-05-14    0.309064
2012-05-15    0.294193
2012-05-16    0.346394
2012-05-17    0.413265
2012-05-18    0.400640
2012-05-19    0.419259
2012-05-20    0.399419
2012-05-21    0.424798
2012-05-22    0.459979
2012-05-23    0.473478
2012-05-24    0.467200
...
2015-01-21    0.368703
2015-01-22    0.339132
2015-01-23    0.343036
2015-01-24    0.409672
2015-01-25    0.434379
2015-01-26    0.444054
2015-01-27    0.462642
2015-01-28    0.444294
2015-01-29    0.455217
2015-01-30    0.434479
2015-01-31    0.396129
2015-02-01    0.354922
2015-02-02    0.307025
2015-02-03    0.352072
2015-02-04    0.383641
Freq: D, Length: 1001

In [55]:
key = lambda x: x.year
zscore = lambda x: (x- x.mean())/x.std()

In [56]:
transformed = ts1.groupby(key).transform(zscore)

In [60]:
transformed.groupby(key).std()
transformed.groupby(key).mean()

2012   -1.174202e-15
2013    1.430515e-15
2014    1.177445e-15
2015    3.175238e-15
dtype: float64

In [72]:
compare = pd.DataFrame({'original': ts1, 'trans': transformed})

In [84]:
sf = pd.Series([1,1,2,3,3,2,1,1,1,1])
sf.groupby(sf).filter(lambda x: x.count()>5, dropna = False)

0     1
1     1
2   NaN
3   NaN
4   NaN
5   NaN
6     1
7     1
8     1
9     1
dtype: float64

In [85]:
sdf

NameError: name 'sdf' is not defined

In [87]:
data = pd.Series(np.random.randn(100))

In [91]:
factor = pd.qcut(data,[0,0.25,0.5,0.75,1.])

In [93]:
data.groupby(factor).mean()

[-2.254, -0.871]   -1.325535
(-0.871, -0.056]   -0.472826
(-0.056, 0.569]     0.275212
(0.569, 1.709]      1.058751
dtype: float64