## Group by in Pandas

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'a':['foo','bar','foo','bar','foo','bar','foo','foo']
                  ,'b': ['one','one','two','three','two','two','one','three']
                  , 'c': np.random.randn(8), 'd': np.random.randn(8)})

In [4]:
df

     a      b         c         d
0  foo    one  1.503818  1.131713
1  bar    one -0.150656 -1.318577
2  foo    two -0.742219  0.029297
3  bar  three -1.548876 -1.707622
4  foo    two -0.680162  1.763968
5  bar    two -0.385647 -0.257490
6  foo    one -0.945636 -0.187510
7  foo  three -1.608921 -0.789864

[8 rows x 4 columns]

In [10]:
grouped1 = df.groupby('b')

In [11]:
grouped1.groups

{'one': [0, 1, 6], 'three': [3, 7], 'two': [2, 4, 5]}

            c         d
a
bar -2.085180 -3.283689
foo -2.473121  1.947605

[2 rows x 2 columns]

In [19]:
s1 = pd.Series([['bar','bar','baz','baz','foo','foo','quix','quix'], 
                ['one','two','one','two','one','two','one','two']])
index = pd.MultiIndex.from_arrays(s1, names = ['first','second'])
df1 = pd.DataFrame({'val': np.random.randn(8)},index = index)

In [23]:
df1

                   val
first second
bar   one    -0.427668
      two    -1.302405
baz   one    -0.927260
      two    -0.778106
foo   one    -0.066020
      two     1.063434
quix  one     0.455999
      two     0.966323

[8 rows x 1 columns]

In [26]:
df1.groupby(level='first').groups

{'bar': [('bar', 'one'), ('bar', 'two')],
 'baz': [('baz', 'one'), ('baz', 'two')],
 'foo': [('foo', 'one'), ('foo', 'two')],
 'quix': [('quix', 'one'), ('quix', 'two')]}

In [32]:
test = df1.groupby(level='first')

In [36]:
for name, group in df1.groupby(level = 'second'):
    print name
    print group

one
                   val
first second
bar   one    -0.427668
baz   one    -0.927260
foo   one    -0.066020
quix  one     0.455999

[4 rows x 1 columns]
two
                   val
first second
bar   two    -1.302405
baz   two    -0.778106
foo   two     1.063434
quix  two     0.966323

[4 rows x 1 columns]

In [41]:
df1.groupby(level='first').get_group('foo')

                   val
first second
foo   one    -0.066020
      two     1.063434

[2 rows x 1 columns]