In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
dates = pd.date_range('20120101', periods=8)
df =pd.DataFrame(np.random.randn(8,4),index = dates, columns = list('ABCD'))
panel = pd.Panel({'one': df, 'two': df -df.mean()})

In [7]:
panel

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 8 (major_axis) x 4 (minor_axis)
Items axis: one to two
Major_axis axis: 2012-01-01 00:00:00 to 2012-01-08 00:00:00
Minor_axis axis: A to D

In [14]:
df['A']

2012-01-01   -0.002640
2012-01-02    0.607537
2012-01-03   -0.738388
2012-01-04    1.209257
2012-01-05    0.944471
2012-01-06   -1.229373
2012-01-07   -0.016976
2012-01-08    1.208164
Freq: D, Name: A, dtype: float64

In [15]:
panel['two']

                   A         B         C         D
2012-01-01 -0.250396 -0.148884  1.200104  0.508347
2012-01-02  0.359781  1.155381  0.788365 -0.116908
2012-01-03 -0.986145  1.016765  0.047531  0.299894
2012-01-04  0.961500  1.610055 -0.001475  1.220720
2012-01-05  0.696714  0.809434 -1.501404 -0.518465
2012-01-06 -1.477130 -1.433907  0.018330  0.752905
2012-01-07 -0.264733 -1.920659 -0.253114 -0.962488
2012-01-08  0.960408 -1.088185 -0.298336 -1.184005

[8 rows x 4 columns]

In [22]:
df[['A','B']]

                   A         B
2012-01-01 -0.608968 -0.002640
2012-01-02  0.695296  0.607537
2012-01-03  0.556680 -0.738388
2012-01-04  1.149970  1.209257
2012-01-05  0.349349  0.944471
2012-01-06 -1.893992 -1.229373
2012-01-07 -2.380744 -0.016976
2012-01-08 -1.548270  1.208164

[8 rows x 2 columns]

In [23]:
df[['B','A']]

                   B         A
2012-01-01 -0.002640 -0.608968
2012-01-02  0.607537  0.695296
2012-01-03 -0.738388  0.556680
2012-01-04  1.209257  1.149970
2012-01-05  0.944471  0.349349
2012-01-06 -1.229373 -1.893992
2012-01-07 -0.016976 -2.380744
2012-01-08  1.208164 -1.548270

[8 rows x 2 columns]

In [25]:
sa = pd.Series([1,2,3], index = list('abc'))
sa.a

1

In [28]:
dfa = df.copy()

In [30]:
dfa.A = list(range(len(dfa)))

In [31]:
dfa

            A         B         C         D
2012-01-01  0 -0.002640  1.565587  0.788415
2012-01-02  1  0.607537  1.153848  0.163160
2012-01-03  2 -0.738388  0.413014  0.579963
2012-01-04  3  1.209257  0.364009  1.500788
2012-01-05  4  0.944471 -1.135920 -0.238397
2012-01-06  5 -1.229373  0.383813  1.032973
2012-01-07  6 -0.016976  0.112369 -0.682420
2012-01-08  7  1.208164  0.067148 -0.903937

[8 rows x 4 columns]

In [43]:
s = pd.DataFrame({'x':[1,2,3], 'y': [4,5,6]})

### This should replace value at [1]
x.iloc[1] = dict(x=2, y = 2) Please look into this

In [45]:
s[:2]

   x  y
0  1  4
1  2  5

[2 rows x 2 columns]

In [48]:
dfl = pd.DataFrame(np.random.randn(5,4), index=pd.date_range('20120202',periods=5),columns = list('ABCD'))

In [58]:
dfl.loc['20120202':'20120204']

                   A         B         C         D
2012-02-02 -0.351249  1.161179  1.570402  0.790681
2012-02-03 -0.109467  0.869203 -0.413864  0.787072
2012-02-04 -0.760718  0.320949  0.093491  1.115312

[3 rows x 4 columns]

In [59]:
s = pd.Series([0,1,2,3,4,5])

In [66]:
s[10] = 10

In [67]:
s

0      0
1      1
2      2
3      3
4      4
5      5
10    10
dtype: int64